@media screen and (min-width: 1200px) {
  .hero-container {
    height: 90vh;
  }

  video {
    height: 90vh;
  }
}
@media screen and (max-width: 1200px) {
  .hero-container {
    height: 95vh;
  }

  video {
    height: 95vh;
  }
}
video {
  object-fit: cover;
  width: 100vw;
  /* height: 95vh; */
  max-width: 100%;
  position: fixed;
  z-index: -1;
  /* object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 100%;
    position: fixed;
    z-index: -1; */
}

.hero-container {
  /* height: 95vh; */
  /* width: 100vw; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* display: flex; */
  /* display: inline-flex;
  flex-direction: column;
  justify-content: center; */
  /* align-items: center; */
  object-fit: contain;
}
.hero-container__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-container__content__avatar {
  display: block;
  margin-bottom: 30px;
}
.hero-container__content__title {
  color: #fff;
  font-size: 50px;
}
.hero-container__content__social-network {
  /* display: block; */
  width: 50%;
  /* margin: auto; */
  margin-top: 1.5rem;
  /* padding: 0 35rem 0 35rem; */
  /* width: 100%; */
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.hero-container__content__social-network__item {
  margin: 0 1.4rem 0 1.4rem;
}
.hero-container__content__social-network__item__icon {
  width: 2.5rem;
  height: auto;
}
@media screen and (max-width: 280px) {
  .hero-container__content__social-network {
    height: 20%;
    width: 80%;
    flex-wrap: wrap;
  }
  .hero-container__content__item {
    margin: 0 1.4rem 0 1.4rem;
  }
  .hero-container__content__item__icon {
    width: 2.5rem;
    height: auto;
  }
}
@media screen and (max-width: 505px) {
  .hero-container__content__title {
    color: #fff;
    font-size: 35px;
  }
  .hero-container__content__avatar {
    width: 80%;
    margin-bottom: 10px;
  }
}